aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.5.2
async-timeout==5.0.1
attrs==24.3.0
captcha==0.7.1
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
cryptography==44.0.0
distlib==0.3.9
dnspython==2.6.1
email_validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.115.6
fastapi-cli==0.0.5
filelock==3.16.1
frozenlist==1.5.0
geographiclib==2.0
geopy==2.4.1
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.0
identify==2.6.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==0.10.0
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
multidict==6.1.0
nodeenv==1.9.1
oauthlib==3.2.2
platformdirs==4.3.6
pre-commit==3.3.3
propcache==0.2.0
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.18.0
pymssql==2.3.0
PyMuPDF==1.20.2
PyMySQL==1.1.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.1
python-multipart==0.0.12
pytz==2024.2
PyYAML==6.0.2
qiniu==7.15.0
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.9.4
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.19
sqlmodel==0.0.22
starlette==0.41.3
typer==0.15.0
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.32.1
# uvloop==0.21.0
virtualenv==20.28.0
watchfiles==0.24.0
wcwidth==0.2.6
websockets==13.1
Werkzeug==2.2.3
wrapt==1.16.0
xlrd==2.0.1
xmltodict==0.14.2
yarl==1.15.2
PyPDF2==3.0.1
pillow==10.4.0
reportlab== 4.3.1
python-dateutil==2.8.2